@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../fonts/AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("../fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("../fonts/AppleSDGothicNeoH.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("../fonts/AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

html {
  font-size: 12px;
}

body {
  font-family: "Noto Sans KR";
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
.menu:hover {
  font-weight: bold;
}

@media (max-width: 960px) {
  html {
    font-size: 10px;
  }
  body {
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 8px;
  }
  body {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 6px;
  }
  body {
    font-size: 12px;
  }
}
