@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../fonts/AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("../fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("../fonts/AppleSDGothicNeoH.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("../fonts/AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

@media (min-width: 480px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 680px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 12px;
  }
}

.menu:hover {
  font-family: AppleSDGothicNeoEB !important;
}
